
<div class="test-task">
  <div id="example" align="center">
    <div class="header">Enter a number between 1 and 999 999 999</div>
    <br><div><input class= "entered-number" type="text" id="number-to-word" v-on:keyup="run"></div>
    <div class="result" id="converted"></div>
  </div>
</div>

<script type="text/javascript">

  var convertToWord = new Vue({
    el: '#example',
    data: {
      name: 'Vue.js'
    },
    // define methods under the `methods` object
    methods: {
      run: function (event) {
        var text = $(event.target).val();
        if(!text) return;
        ConvertNumberToWord.do(text, $('#converted'));
      }
    }
  });

</script>