<div class="test-task">
  <div id="example" align="center">
    <div class="header">Enter a number between 1 and 999 999 999</div>
    <br><div><input type="text" class= "entered-number" id="number-to-word" v-on:keyup="run"></div>&nbsp;<span id="errmsg"></span>
    <div class="result" id="converted"></div>
  </div>
</div>

<script type="text/javascript">

    var convertToWord = new Vue({
        el: '#example',
        data: {
            name: 'Vue.js'
        },
        methods: {
            run: function (event) {
                var maxСhars = 9;

                var text = $(event.target).val();
                if(!text) return;

                if (isNaN(text)){
                    $("#errmsg").html("Please enter a number between 1 and 999999999").show().fadeOut("slow");
                    $('#converted').html('');
                    return;
                }

                if (text.length > maxСhars) {
                    $("#errmsg").html("Please enter a number between 1 and 999999999").show().fadeOut("slow");
                    $('#converted').html('');
                    return;
                }

                ConvertNumberToWord.do(text, $('#converted'));
            }
        }
    });

</script>